*~
*.un~
*.swp
tags

.vscode/
__pycache__/
tmp/
*.cache

*.log
log.html
output.xml
report.html

*.tar.gz
*.deb
*.rpm

build/
_build/
build-*/
cmake-build-*/
compile_commands.json

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
Makefile

*.o
*.obj
*.lo
*.la
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe

*.gcno
*.gcda
*.gcov
*.profraw
*.profdata

*.db
*.db-shm
*.db-wal

ft/reports/
neuron-sdk/

include/csptr/
include/neuron/version.h
